.Python
picked-versions*.cfg
.installed.cfg
.mr.developer.cfg
bin/
develop-eggs/
eggs/
parts/
src/
var/
include/
lib/
buildout.cfg
downloads/
etc/haproxy.conf
etc/logrotate.conf
etc/varnish.vcl
???-settings.cfg
*.pyc
*.log
.idea/

