[buildout]
extends =
    buildout-plone4.cfg
# Compile our own PIL so we don't depend on a system-wide one.
# This could also be in buildout-plone4.cfg, but we're trying to keep that the
# same as the paster-generated one.
    pil.cfg
allow-hosts =
    pypi.python.org
    dist.plone.org

# Add repo for your specific eggs
#find-links +=
#    http://username:password@eggs.yourdomain.com

# Project-specific version pinnings
[versions]
zc.buildout= 1.5.2
buildout.dumppickedversions= 0.5

[instance]
# Project-specific eggs go here
eggs +=

# ZCML-registry for project-specific eggs, if necessary
zcml +=

