[buildout]
# Any sources here are only used if their eggs are actually used!

extensions += 
    mr.developer

sources = sources

# List products under development here
auto-checkout += 
# Example
# gww.content

[sources]
# List source locations for products under development
# Example:
# gww.content = git git@git.gw20e.com:gww/gww_content.git