[buildout]
# Any sources here are only used if their eggs are actually used!

extensions += 
    mr.developer

sources = sources

# List products under development here
auto-checkout += 
# Internal modules:
    drogevoeten.base
    hhd.theme.intranet
    hhd.theme.internet
# Third party modules:
    collective.autopublishing
    collective.complexrecordsproxy
    Products.EasyNewsletter

[sources]
# Internal modules:
drogevoeten.base = git git@git.gw20e.com:waterschappen/drogevoeten-base.git
hhd.theme.intranet = git git@git.gw20e.com:waterschappen/hhd-theme-intranet.git
hhd.theme.internet = git git@git.gw20e.com:waterschappen/hhd-theme-internet.git
# Third party modules:
collective.autopublishing = git https://github.com/collective/collective.autopublishing.git 
collective.complexrecordsproxy = git https://github.com/collective/collective.complexrecordsproxy.git 
Products.EasyNewsletter = git https://github.com/Goldmund-Wyldebeast-Wunderliebe/Products.EasyNewsletter.git 
